.dilemma-container {
    display: flex;
    justify-content: space-between; /* Verteilung der Elemente */
    align-items: center; /* Vertikale Zentrierung */
    width: 100%;
}

.edit-icon {
    font-size: 25px;
}

.icon-container {
    height: 100%;
    width: 100%;
}

.delete-button {
    font-size: 25px;
    color: rgb(232, 0, 3);
}

.content {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.dilemma-item {

    border: 0.5px solid #ccc;
    border-radius: 30px;
    margin: 5px;

}

.modal-sizer {
    --width: 100vw;
    --height: 100vh;
    --border-radius: 0
}
:root {
    --status-bar-height: env(safe-area-inset-top);
}
.title-Tab1{
    font-size: 23px;
}