.back-button {
    display: flex; /* Flexbox aktivieren */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    background-color: transparent; /* Startet transparent */
    width: 50px; /* Feste Breite */
    height: 50px; /* Feste Höhe */
    border-radius: 25px; /* Volle Rundung für Kreisform */
    cursor: pointer;
    transition: background-color 0.2s ease; /* Sanfter Übergang */
    margin-left: 5px;
}

.back-button:active {
    background-color: rgba(0, 0, 0, 0.1); /* Seichte graue Box bei Klick */
}

.back-icon{
    font-size: 25px;
}
.content {
    overflow-y: auto; /* Nur bei Bedarf scrollen */
    max-height: 100vh; /* Begrenze die maximale Höhe */
}

.listen-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;

}
.prolist{
    max-width: calc(50% - 10px);
    width: 100%;
    height: 100%;
}
.contralist{
    max-width: calc(50% - 10px);
    width: 100%;
    height: 100%;
    margin-right: 20px;
    margin-left: 8px;


}

.separator {
    position: absolute;
    width: 1px;
    background-color: #9c9c9c;
    margin-top: 20px;
    height: 100%;
    min-height: 400px;
    left: 50%;
    transform: translate(-50%);
}

.open-modal-button {
    position: fixed;
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    opacity: 1;
    margin-left: 50%;
    transform: translate(-50%);

    bottom: 30px;
}

.open-argument-edit-button {
    position: fixed;
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    opacity: 1;
    margin-left: 25px;

    bottom: 25px;
}
.AddButton{
    width: 50px;
    height: 50px;
}
.safe-area {
    padding: var(--ion-safe-area-top) var(--ion-safe-area-right) var(--ion-safe-area-bottom) var(--ion-safe-area-left);


}



.date-label {
    font-size: 100% !important;
}


ion-content {
    height: auto;  /* Maximale Höhe des Inhaltsbereichs */

}
.content {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.Textarea{
    --padding-start: 16px
}
.vertical-line{
    margin-top:10px;
    width: 100%;
    height: 0.5px;
    background-color: #9c9c9c
}
ion-footer {
    --background: #fff; /* Hintergrundfarbe des Footers */
    position: relative; /* Falls der Footer verschwindet, sicherstellen, dass er korrekt positioniert ist */
    z-index: 10;
}