/* login.css */

/* Nur Styles innerhalb des Login-Modals */
.login-modal .input-container {
    margin-bottom: 16px;
    width: 90%;
    margin-left: 5%;
    flex-grow: 0;
}

.login-modal .input-container:first-child {
    margin-top: 40px;
}


.login-modal .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    width: 90%;
    margin-left: 5%;
}

.login-modal ion-button {
    --background: linear-gradient(135deg, #4CAF50, #8BC34A);
    --color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    width: 90%;
    margin-left: 5%;
    padding: 12px 0;
    --box-shadow: none;
    --border-radius: 8px;
    transition: background 0.3s ease, transform 0.1s ease;
    flex-shrink: 0;
    margin-bottom: 0;
}

.login-modal .register-hint {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.login-modal a {
    background: linear-gradient(135deg, #4CAF50, #8BC34A);
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
    font-weight: bold;
}

.login-modal a:hover {
    text-decoration: underline;
}
