.add-button-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 70px;
    margin-left: 15px;
}

.listen-container {
    display: flex;
    padding-right: 10px;
}

.separator {
    width: 1px;
    background-color: #9c9c9c;
    height: 100vh;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 10px;

}

.open-modal-button {
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    width: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.open-modal-button:hover {
    transform: scale(1.1);

}


